* {
    padding: 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

button {
    border: none;
    cursor: pointer;
    transition: .5s;
}

body {
    font-family: "Roboto", sans-serif;
}

/*header start */
#header {
    padding: 25px 0;
    background: rgba(255, 255, 255, 0.08);
    -webkit-box-shadow: 0 13px 15px 11px rgba(21, 28, 34, 0.24);
    -moz-box-shadow: 0 13px 15px 11px rgba(21, 28, 34, 0.24);
    box-shadow: 0 13px 15px 11px rgba(21, 28, 34, 0.24);
    border-bottom: 2px solid rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 100;
    animation: header 3s alternate;
}

@keyframes header {
    0% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(0);
    }
}

.header-logo h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    padding-right: 64px;
}

.header-logo a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 0 26px;
    transition: .5s;
}

.header-logo a:hover {
    color: royalblue;
    text-decoration-line: underline;
}

.header-btn button {
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #FF4343;
    padding: 15px 25px;
    border: 2px solid #FF4343;
}

.header-btn button:hover {
    background: transparent;
    border: 2px solid #FF4343;
    color: #FF4343;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

/*header end*/

/*hero start*/
#hero {
    padding: 96px 0 0 0;
    background: #100E14;
    animation: hero 3s alternate;
}

.hero h1 {
    color: #FFF;
    font-size: 63px;
    font-weight: 400;
}

.hero p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 28px;
    font-weight: 400;
    padding: 44px 0 37px 0;
}

.hero button {
    color: #FFF;
    font-size: 23px;
    font-weight: 400;
    border-radius: 8px;
    background: #FF4343;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border: 2px solid #FF4343;
}

.hero button:hover {
    background: transparent;
    border: 2px solid #FF4343;
}

.hero button ion-icon {
    padding-left: 12px;
}

.hero h6 {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 19px 0 61px 0;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img-two {
    position: absolute;
    top: 0;
    right: -17px;
}
@keyframes hero {
    0% {
        transform: translateX(1200px);
    }
    100% {
        transform: translateX(0);
    }
}
/*hero end*/

/*shoot start*/
#shoot {
    background: #121118;
    padding: 60px 0 0 0;
}

.shoot-text h1 {
    width: 442px;
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
    padding-bottom: 38px;
}

.shoot-text p {
    width: 452px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 26px;
    font-weight: 400;
    line-height: 37px;
}

.shoot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoot-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.shoot-img-one {
    position: absolute;
    top: 95px;
    left: -310px;
}

.shoot-img-two {
    position: relative;
    z-index: 1;
}

/*shoot end*/

/*enrich start*/
#enrich {
    padding: 180px 0;
    background: #121118;
}

.enrich-text h1 {
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
    padding-bottom: 38px;
}

.enrich-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    width: 524px;
}

.enrich-text p span {
    color: white;
    font-weight: 700;
}

.enrich-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.enrich-image-one {
    position: absolute;
    top: 0;
    left: 0;
}

.enrich {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*enrich end*/

/*add start*/
#add {
    background: #121118;
    padding: 180px 0;
}

.add-text h1 {
    color: #FFF;
    font-size: 54px;
    font-weight: 400;
    line-height: 70px;
    padding-bottom: 38px;
}

.add-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    width: 490px;
}

.add-text p span {
    color: white;
    font-weight: 700;
}

.add-block {
    -webkit-box-shadow: 0 0 14px 12px rgba(217, 65, 29, 0.15) inset;
    -moz-box-shadow: 0 0 14px 12px rgba(217, 65, 29, 0.15) inset;
    box-shadow: 0 0 14px 12px rgba(217, 65, 29, 0.15) inset;
    width: 571px;
    height: 367px;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #302e38;
}

.add-block-one {
    margin: 10px 0;
    width: 80%;
    height: 25%;
    background: #161617;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-block-icon {
    width: 40px;
    height: 30px;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #1e1f22;
}

.add-block-icon ion-icon {
    color: white;
    font-size: 20px;
}

.add-block-text h3 {
    color: white;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 400;
}

.add-block-text h6 {
    color: rgba(255, 255, 255, 0.50);
    font-size: 17px;
    font-weight: 400;
}

.add-block-group {
    display: flex;
    align-items: center;
}

.add-block-one button {
    padding: 20px 35px;
    background: #fd4358;
    border-radius: 25px;
}

/*add end*/

/*link start*/
#link {
    padding: 180px 0;
    background: #121118;
}

.link-text h1 {
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
    padding-bottom: 38px;
}

.link-text p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 25px;
    font-weight: 400;
    line-height: 37px;
    width: 500px;
}

.link-text p b {
    color: white;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-blocks {
    position: relative;
    width: 526px;
    height: 350px;
    background: #1d1c27;
    border-radius: 30px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.link-blocks a div {
    width: 75px;
    height: 280px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    transition: .5s;
}

.link-blocks a div:hover {
    transform: translateY(-50px);
    border-radius: 20px;
    z-index: 2;
    -webkit-box-shadow: 0 0 64px 36px rgba(235, 244, 251, 0.2);
    -moz-box-shadow: 0 0 64px 36px rgba(235, 244, 251, 0.2);
    box-shadow: 0 0 64px 36px rgba(235, 244, 251, 0.2);
}

.youtube {
    background: #fa000e;
    border-radius: 20px 0 0 0;
    right: 420px;
}

.instagram {
    background: #d2005a;
    border-radius: 20px 0 0 0;
    right: 360px;
}

.twitch {
    background: #753cdc;
    border-radius: 20px 0 0 0;
    right: 300px;
}

.tiktok {
    background: #040405;
    border-radius: 20px 0 0 0;
    right: 240px;
}

.twitter {
    background: #0688d0;
    border-radius: 20px 0 0 0;
    right: 180px;
}

.linkedin {
    background: #045b89;
    border-radius: 20px 0 0 0;
    right: 120px;
}

.mail {
    background: rgba(35, 74, 84, 0.99);
    border-radius: 20px 0 0 0;
    right: 60px;
}

.whatsapp {
    background: #42ce5d;
    border-radius: 20px 0 30px 0;
    right: 0;
}

/*link end*/

/*card start*/
#card {
    padding: 130px 0;
    background: #121118;
}

.card h1 {
    color: #FFF;
    text-align: center;
    font-size: 61px;
    font-weight: 400;
    line-height: 83px;
}

.line {
    width: 120px;
    height: 5px;
    background: #FF4343;
    margin: 38px auto;
}

.card p {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 37px;
    padding-bottom: 88px;
}

.card-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-block {
    width: 19%;
    position: relative;
}

.card-block img {
    width: 100%;
}

.card-block-text h3 {
    color: #FFF;
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    line-height: 34px;
}

.card-block-text h4 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0 5px 0;
}

.card-block-text h5 {
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 50px;
}

.card-block-text {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 31.25%, #000 100%);
    display: none;
    transition: .5s;
}

.card-block:hover > .card-block-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-block:hover > .card-block-text h3,
.card-block:hover > .card-block-text h4,
.card-block:hover > .card-block-text h5 {
    animation: text .5s alternate linear;
}

@keyframes text {
    0% {
        transform: translateY(50px);
    }
}

/*card end*/

/*offer start*/
#offer {
    background: #121118;
    padding: 180px 0;
}

.offer h3 {
    color: #8BFFB0;
    font-size: 22px;
    font-weight: 400;
}

.offer h1 {
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 83px;
    width: 787px;
    padding: 21px 0 32px 0;
}

.offer p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 27px;
    font-weight: 400;
    width: 904px;
    line-height: 39px;

}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.offer img {
    margin-top: 70px;
    animation: offer-one 2s infinite linear;
}
@keyframes offer {
    0% {
        transform: translateX(1200px);
    }

}

/*offer end*/

/*what start*/
#what {
    width: 100%;
    height: 433px;
    background: #121118;
}

.what {
    width: 1120px;
    height: 433px;
    border-radius: 30px;
    background: #1D1B24;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.what h3 {
    color: #FFF;
    text-align: center;
    font-size: 63px;
    font-weight: 400;
    line-height: 91px;
}

.what p {
    width: 730px;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    padding: 65px 0;
}

.what button {
    background: #FF4343;
    color: #FFF;
    font-size: 16px;
    display: flex;
    gap: 19px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    border: 2px solid #FF4343;
    padding: 5px 30px;
}

.what button:hover {
    background: transparent;
    border: 2px solid #FF4343;
    color: #FF4343;
}

.what button ion-icon {
    width: 50px;
    padding-left: 15px;
    height: 52px;

}
/*what end/*/

/*can start/*/
#can {
    background: url("../img/can.png") no-repeat center/cover;
    min-height: 60vh;
}

.can-shadow {
    min-height: 60vh;
    background: linear-gradient(180deg, #1D1B24 0%, rgba(0, 0, 0, 0.00) 100%);
}

.can h1 {
    padding-top: 148px;
    color: #FFF;
    text-align: center;
    font-size: 42px;
    font-style: italic;
    font-weight: 700;
    line-height: 48px;
}

.can p {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}
/*can end*/

/*cour start/*/
#block {
    background: #0A0A0A;
    padding: 80px 0;
}

.block-man-text h3 {
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
    padding-bottom: 18px;
}

.block-man-text h5 {
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.block-man-text h5 ion-icon {
    font-size: 23px;
    padding-right: 5px;
}

.block-man-text {
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.block-man {
    position: relative;
    width: 40%;
}

.block-title h4 {
    color: #95FEC1;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 30px 0 17px 0;
}

.block-title h2 {
    color: #FFFFFF;
    font-size: 29px;
    font-weight: 400;
    line-height: 36px;
    width: 90%;
    padding-bottom: 23px;
}

.block-title p {
    width: 90%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.block-title a {
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 10px;
}

.block-title a ion-icon {
    font-size: 23px;
    padding-left: 15px;
}

.block-general {
    width: 47%;
    display: flex;
}

.block-man img {
    width: 100%;
}

.block-title {
    width: 60%;
    background: #8BFFB0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.block h1 {
    color: #FFF;
    font-size: 58px;
    padding-bottom: 100px;
    font-weight: 400;
}

.block-mans {
    display: flex;
    justify-content: space-between;
}
/*cour end*/


/*footer start*/
#footer {
    background: #000;
    padding: 120px 0;
}

.footer-nav h3 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 48px;
}

.footer-nav a {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
}

.footer-nav a:hover {
    color: greenyellow;
    text-decoration-line: underline;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-icons a {
    font-size: 30px;
    color: #FFF;
    padding: 0 8px;
}

.footer-icons a:hover {
    color: greenyellow;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
/*footer end*/









